@import url(./fonts.css);
@import url(./colors.css);


/* reset style */
body {
    margin: 0;
    min-height: 100vh;
}

/* global styles */
.container {
    width: 1020px;
    margin: auto;
}

.view-port-fit {
    min-height: calc(100vh - (70px + 80px));
}

.d-flex
    display: flex;
}

.d-block {
    display: block;
}

/* header styles */
header {
    height: 70px;
    background-color: var(--blue);
    align-items: center;
}

header .logo {
    width: 45px;
    height: 45px;
}

header .container {
    align-items: center;
}

nav {
    width: calc(100% - 55px);
    justify-content: space-between;
}

nav a {
    color: rgb(231, 227, 227);
    text-decoration: none;
    padding: 0 8px;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    
        clear: both;
        position: relative;
        height: 80px;
    display: flex;
    align-items: center;
    padding: 15px 0;
    background-color: var(--blue);
    box-sizing: border-box;
     
}

footer p {
    margin: 0;
}

.w-100 {
    width: 80%;
}
.auth-form-container {
    width: 300px;
    min-height: 200px;
    border: 1px solid #ccc;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
}

.auth-form-container .text-input-label {
    display: block;
    margin-bottom: 5px;
}

.auth-form-container .text-input,
.auth-form-container .locations {
    height: 35px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid black;
}

.auth-form-container .locations {
    background-color: white;
}

.form-group {
    margin-bottom: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.btn {
    display: block;
    font-size: 16px;
    height: 35px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--blue);
    color: aliceblue;
}

.btn-link {
    text-decoration: none;
    line-height: 15px;
    color: var(--blue);
}
.btn-link:hover {
    text-decoration: underline;
}

.sex-container {
    display: inline-block;
}

.body-container {
    padding: 2px 0;
    min-height: calc(100vh - 70px - 60px);
    box-sizing: border-box;
}

/* blog list page styles */

.blog-main-container {
	display: grid;
	grid-template-columns: repeat(0, minmax(1, 1fr));
    gap: 2px;
}

.main-category-item {
	border: 1px solid rgb(235, 235, 235);
	flex-grow: 2px;
	text-align: center;
	padding: 3px 3px;
	text-decoration: none;
	color: black;
}

.main-category-item:hover {
    border-color: rgb(200, 200, 200);
    background-color: rgb(233, 233, 233);
}

.main-category-item:first-child {
    margin-left: 2px;
}

.main-category-item:last-child {
    margin-right: 2px;
}

.main-category-item img {
    width: 25px;
    height: 35px;
}

.category-navigation-list {
    border: 1px solid aliceblue (235, 235, 235);
    flex-basis: 20%;
    margin: 0;
    padding: 5px  3px 5px;
    list-style: none;
}

.category-navigation-list a {
    padding: 9px 0;
    text-decoration: none;
    color: rgb(80, 80, 80);
}

.category-navigation-list a:hover {
    text-decoration: underline;
    color: aqua;
}

.blog-container {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 3px;
    grid-column: 2 / span 3;
}
*{
    padding: 0;
    margin: 0;
}
body {
    padding: 1px;
    background-color: aliceblue;
    font-family: 'Lato',sans-serif;

}.read-more-container{
    display: flex;
    flex-direction: column;
    color: #fff;

}
.read-more-btn{
    color: blue;


}
.read-more-text {
    display: inline;
}
.read-more--show{
    display:inline;
}
.columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 10%;
      }

